<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/form.css">
</head>
<body>
    <section id="contact">
        <div class="contact-box">
          <div class="contact-links">
            <h2>CONTACT</h2>
            <div class="links">
              <div class="link">
                <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
              </div>
              <div class="link">
                <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
              </div>
              <div class="link">
                <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
              </div>
              <div class="link">
                <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
              </div>
            </div>
          </div>
          <div class="contact-form-wrapper">
            <form action="connect.php" method="post">
              <div class="form-item">
                <input for="name" type="text" name="sender" required>
                <label name="name">Name:</label>
              </div>
              <div class="form-item">
                <input for="email" type="text" name="email" required>
                <label name="email">Email:</label>
              </div>
              <div class="form-item">
                <textarea for="message" class="" name="message" required></textarea>
                <label name="message">Message:</label>
              </div>
              <button class="submit-btn">Send</button>  
            </form>
          </div>
        </div>
      </section>
</body>
</html>